<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698629994336-sk3aqjtl7thlirlhqn1jg2bsvjn04gm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698629994336-sk3aqjtl7thlirlhqn1jg2bsvjn04gm2</string>
	<key>API_KEY</key>
	<string>AIzaSyA5lj8B7Fc9ZEpQlN8sgYdNtiqThP96uiI</string>
	<key>GCM_SENDER_ID</key>
	<string>698629994336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambdaSchool.HomeChoresTracker</string>
	<key>PROJECT_ID</key>
	<string>homechoretracker1-8e3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>homechoretracker1-8e3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698629994336:ios:bd6d0d8063a23c87435005</string>
	<key>DATABASE_URL</key>
	<string>https://homechoretracker1-8e3f6.firebaseio.com</string>
</dict>
</plist>